<h1> Edit </h1>

<p> First Name : <%= @crud.f_name %></p>
<p> Last Name : <%= @crud.l_name %></p>

<%= form_with(model: @crud, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
  <div class="row mb-3">
    <%= f.label :FirtName, class: "col-sm-2 col-form-label text-light" %>
    <div class="col-sm-10">
      <%= f.text_field :f_name, class: "form-control shadow rounded" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :LastName, class: "col-sm-2 col-form-label text-light" %>
    <div class="col-sm-10">
      <%= f.text_field :l_name, rows: 10, class: "form-control shadow rounded" %>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= f.submit class: "btn btn-outline-light btn-sm" %>
  </div>

<% end %>
</div>
